/* @font-face {
  font-family: "font";
  font-weight: 400;
  font-style: normal;
  src: url(""),
    url("");
  font-display: swap;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*[class$="link"] {
  color: inherit;
  text-decoration: none;
}

*[class$="heading"] {
  margin: 0;
}

*:focus:not(:active) {
  outline: 1px solid rgb(90, 88, 87);
  outline-offset: 2px;
}

.heading {
  text-transform: uppercase;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


/* Настройка сетки страниц паттерн  - "flex one column, sticky footer" */
.site {
  height: 100%;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.flex_row {
  display: flex;
  flex-wrap: wrap;
}

.box-center {
  width: 1366px;
  margin: 0 auto;
}

.page {
  min-width: 1440px;
  min-height: 100%;
  margin: 0;
  /* font-family: Arial, sans-serif;
  font-style: normal;
  font-size: 1em;
  color: #101010;
  background-color: #ffffff; */
}

.page__content {
  flex-grow: 1;
}

/*Вводная часть "Шапка"*/
.page__header {

}

.menu {

}

.logo {
  display: block;
}

.bg__green {
  color: #ffffff;
  background-color: #91aa59;
}

/* Нижний колонтитул "Подвал сайта"*/
.page__footer {

}

.socials__list {
  max-width: 200px;
}

.socials__link {
  display: flex;
  width: 25px;
  height: 25px;
}

.socials__icon {
  margin: auto;
  fill: #ffffff;
}
